@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --font-sans: "Jost", "Open Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: #1f2937; /* gray-800 equivalent */
  }
}
